$purple: rgb(194, 80, 255);
$purplish: rgb(80, 86, 255);
$orange: orange;
$orangeish: rgb(255, 42, 0);
$green: rgb(111, 255, 2);
$greenish: rgb(255, 211, 51);
$card: rgba(255, 255, 255, 0.15);

$xSmall: 0.3125rem; //5px
$small: 0.625rem; //10px
$medium: 1.25rem; //20px
$largish: 2.1875rem; //35px
$large: 3.125rem; //50px
$xLarge: 6.25rem; //100px
